body {
    margin: 0;
    box-sizing: border-box;
}

.path {
    position: absolute;
    width: 600px;
    left: 350px;
    top: 1px;
}

.path img {
    height: 560px;
}

@font-face {
    font-family: 'SF Pro Display bold';
    src: url('./font/SFPRODISPLAYBOLD.OTF');
}

@font-face {
    font-family: 'SF Pro Display header';
    src: url('./font/SFPRODISPLAYMEDIUM.OTF');
}

@font-face {
    font-family: 'SF Pro Display lite';
    src: url('./font/SFPRODISPLAYMEDIUM.OTF');
}

header {
    width: 100%;
    height: 64px;
    z-index: 999;
    display: flex;
    justify-content: space-between;

}

header .logo {
    margin: 10px;
    padding: 10px;

}

header .menu {
    width: 600px;
    height: 64px;
}

header .menu ul {

    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    list-style: none;

}

header .menu ul li a {
    text-decoration: none;
    font-family: 'SF Pro Display header';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #8B8B8B;
}

.navg {
    position: relative;
}

span {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid blue;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 10px;
    background-color: blue;
}

header .btn {
    width: 140px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background: #232340;
    border: 1px solid #232340;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display header';

}

.container {
    height: 600px;
    width: 100%;
    margin-bottom: 40px;
}

.container.wall {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container.wall section {
    width: 50%;
    height: 500px;
}

.container.wall section h1 {
    color: #232340;
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    padding: 10px;
    width: 400px;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 0;

}

.container.wall section p {
    font-family: 'SF Pro Display lite';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 32px;
    color: #606060;
    width: 350px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

.container.wall section button {
    width: 140px;
    height: 50px;
    padding: 10px;
    left: 400px;
    margin-top: 0;
    margin-bottom: 0;
    background: blue;
    border: 1px solid blue;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display header';
    margin-left: 160px;
    margin-top: 20px;

}

.container.wall section .scroll a {
    display: flex;
    justify-content: center;
    margin-left: 160px;
    width: 300px;
    height: 60px;
    margin-top: 35px;
    text-decoration: none;
}

.container.wall section .scroll p {
    margin-left: 0;
    padding-top: 0;
}

.container.wall section .scroll img {
    width: 35px;
    height: 35px;
}

.container.wall section .herobg {
    width: 100%;
    height: 600px;
    position: relative;
}

.container.wall section .herobg .img1 {
    position: absolute;
    width: 450px;
    height: 550px;
    right: 50px;
    top: 30px;
}

.container.wall section .herobg .img2 {
    position: absolute;
    width: 750px;
    height: 550px;
    right: 50px;
    top: 90px;
    z-index: 99;
}

.container.container-page2 {
    position: relative;
    height: 1200px;

}

.container .background-image .img11 {
    position: absolute;
    width: 100%;
    height: 1200px;
    background-image: url('./pic/dark bg.png');
    z-index: 3;

}

.container .background-image .img22 {
    position: absolute;
    z-index: 6;
    top: -30px;
    right: 0;
    width: 650px;
    height: 600px;
    background-image: url('./pic/bg for 3d.png')
}

.container .background-image .pathe {

    position: absolute;
    z-index: 9;
    height: 600px;
    width: 100%;
    background-image: url('./pic/line.png');
}

.container.heading {

    position: absolute;
    z-index: 11;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.container.heading .heado {
    color: #fff;
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    width: 600px;
}

.container.content-wrapper {
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    top: 400px;
}

.container.content-wrapper aside ul li {
    list-style: none;
    font-family: 'SF Pro Display header';
    color: #fff;
    padding: 30px;
    padding-top: 50px;
}

.container.content-wrapper aside ul li a {
    text-decoration: none;
    color: #fff;
}

.container.content-wrapper .container-pic img {
    width: 800px;
    height: 600px;

}

.container.page2footer {
    z-index: 15;
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    top: 970px;
}

.container.page2footer .right-contain {
    width: 500px;
    color: #fff;
    left: 0;


}

.container.page2footer .right-contain h2 {
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    width: 500px;
    margin-top: 0;
    margin-bottom: 10px;
    border-left: 1px solid pink;
    padding-left: 150px;
    margin-left: 100px;

}

.container.page2footer .right-contain p {
    font-family: 'SF Pro Display lite';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    color: #606060;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 250px;
}

.container.page2footer .right-contain button {
    width: 140px;
    height: 50px;
    padding: 10px;
    left: 400px;
    margin-top: 0;
    margin-bottom: 0;
    background: blue;
    border: 1px solid blue;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display header';
    margin-top: 20px;
    margin-left: 250px;
}


.container.page2footer .left-contain {
    right: 0;
    margin-right: 250px;
    position: relative;
    display: inline-block;
}

.container.page2footer .left-contain h2 {
    color: #e0e0ec;
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    width: 200px;
    height: 120px;
    margin-top: 0;
    margin-left: 350px;
    margin-bottom: 5px;
    padding-left: 150px;
}

.container.page2footer .left-contain p {
    color: #e0e0ec;
    font-family: 'SF Pro Display lite';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin-left: 350px;
    padding-left: 160px;

}

.container.container-page3 {
    position: relative;
    width: 100%;
    height: 1500px;

}

.container.container-page3 .path3 {

    position: absolute;
    z-index: 15;
    height: 1500px;
    width: 100%;
    background-image: url('./pic/gradient bg.png');
    margin-top: -30px;
}

.container.container-page3 .content3 {
    position: absolute;
    width: 100%;
    top: 400px;
    height: 500px;
    display: block;
    margin-top: 100px;
}

.container.container-page3 .content3 .block {
    position: absolute;
    width: 250px;
    height: 350px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    border: 2px solid rgb(241, 241, 241);
    margin: 2px;
    text-align: center;
}

.container.container-page3 .content3 .block.block1{
    right: 200px;
}
.container.container-page3 .content3 .block img{
    width: 100px;
    height: 100px;
    padding-top: 90px;

}
.container.container-page3 .content3 .block h5 {
    font-family: 'SF Pro Display lite';
    color: blue;
}
.container.container-page3 .content3 .block.block2{
    right: 450px;
}
.container.container-page3 .content3 .block.block3{
    right: 700px;
    top: -20px;
    height: 390px;
    background-color: rgb(90, 90, 248);

}
.container.container-page3 .content3 .block.block3 img{
    width: 100px;
    height: 100px;
    padding-top: 120px;

}
.container.container-page3 .content3 .block.block3 h5 {
    font-family: 'SF Pro Display lite';
    color: rgb(255, 255, 255);
}
.container.container-page3 .content3 .block.block4{
    right: 952px;
}

.container.container-page3 .content4 {
    position: absolute;
    width: 100%;
    top: 900px;
    height: 1000px;
    z-index: 65;
    margin-top: 30px;
}

.container.container-page3 .content4 .blockleft .i1 {
    position: absolute;
    left: 320px;
    top:750px;
}
.container.heading1 {

    position: absolute;
    z-index: 11;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    top: 50px;
    left: 800px;
}

.container.heading1 .logoo1  {
    color: #fff;
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 400px;  
}

.container.heading1 .logoo1 .imgg {
    width: 20px;
    height: 20px;
    margin-right: 50px;
}

.number {
    position: absolute;
    width: 400px;
    height: 200px;
    margin-top: 100px;
    top: 250px;
    left: 290px;
}

.number h2 {
    color: #5468E7;
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    width: 200px;
    height: 120px;
    margin-top: 0;
    margin-left: 370px;
    margin-bottom: 40px;
    padding-left: 150px;
}

.number p {
    color: #252526;
    font-family: 'SF Pro Display lite';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    width: 300px;
    height: 40px;
    margin-left: 350px;
    padding-left: 160px;

}
 .container.container-page4 {
     width: 100%;
      height: 2000px;
       z-index: 999;
        position:relative;
          top:200px;
          background-image: url('./pic/lines.png');
 }

.section-heading {

        position: absolute;
        z-index: 11;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
 }
    
.section-heading .heado {
        font-family: 'SF Pro Display bold';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        width: 600px;
        margin-left: 120px;
    }
    .section-heading .logoo{
        margin-top: 10px;
        width: 50px;
        padding-top: 6px;
    }
.section-heading .heado h2{
    margin:0;
}
.section-heading .heado .pp{
    font-family: 'SF Pro Display lite';
    color: #606060;
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    width: 400px;
    line-height: 20px;

    }

.section-heading .butto{
    width: 140px;
    height: 50px;
    padding: 10px;
    left: 300px;
    margin-top: 0;
    margin-bottom: 0;
    background: blue;
    border: 1px solid blue;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-family: 'SF Pro Display header';
    margin-top: 20px;
    margin-left: 200px;
}
 
.section-content {
    position:relative;
    background-image: url('./pic/imggirl.png');
    width: 100%;
    height: 800px;
    top:100px;
    
}

.contain {
    position: absolute;
    width: 500px;
    height: 400px;
    top:300px;
    left: 170px;
   
}

.btnn{
    width: 180px;
    height: 40px;
    padding: 5px;
    background: #908CFF;
    border: 1px solid #908CFF;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-family: 'SF Pro Display lite';
}

.headpage4 {
    font-family: 'SF Pro Display bold';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    width: 270px;
    height: 50px;
    padding-top: 7px;
}

.parpage4 {
    color: #39393a;
    font-family: 'SF Pro Display lite';
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    width: 220px;
    height: 50px;
    line-height: 20px;
    padding-top: 20px;
   
}
.card1{
    position: absolute;
    width: 470px;
    height: 500px;
    top:1200px;
    left: 180px; 
}

.card2{
    position: absolute;
    width: 600px;
    height: 500px;
    top:900px;
    right: 100px;

}

.card4{
    position: absolute;
    width: 470px;
    height: 500px;
    top:1700px;
    right: 110px; 
}

.card3{
    position: absolute;
    width: 300px;
    height: 400px;
    top:2100px;
    left: 230px; 
}

.pic4{

    position: absolute;
    width: 100%;
    height: 800px;
    top:2500px;

}